.customer-form {
  margin-bottom: 5px;
  
  h2 {
    font-size: 17px;
    padding: 5px;
    margin: 3px;
  }

  input {
    padding: 6px;
    max-width: 250px;
    border: 1px solid #fff;
    border-radius: 15px;
    background: linear-gradient(to right, 
    rgb(224, 2, 106),rgb(220, 12, 199) , rgb(200, 8, 238));
    color: black;
    &:active,
    &:focus{
      outline: none;
    }
  }

  button {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: rgb(240, 248, 248);
    background: radial-gradient(circle, rgb(124, 120, 120), white);

    &:hover {
      color: rgb(0, 2, 10);
      background: radial-gradient(circle, white, rgb(86, 82, 82));
    }
  }
  
}